<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About Us</h3>
  </div>
  <div class="panel-body">
    <p>We are students in Professors Tsai's CSE 360 Introduction to Software Engineering (Fall 2014) course. This website is homework assignment 4. The assignment is a group project in which we must develop a scalable online Web application, and then test for functionality, quality, and scalability.<p>
    <p>The software development is divided into the following steps.</p>
    <ol stype="1">
    	<li>Requirements analysis and specification.</li>
    	<li>Architecture design and adoption of OSS software</li> components with of without modifications.</li>
    	<li>User Interface(UI) design.</li>
   		<li>Coding</li>
    	<li>Testing</li>
    		<ul>
    			<li>Unit testing.</li>
    			<li>Functional testing.</li>
    			<li>Load testing and scalability check.</li>
    		</ul>
    	<li>Deployment.</li>
  </ol>

    <p>Team members:</p>
    <ul class="members">
    	<p>Jake Hartman &nbsp;<a href="mailto:jahartm3@asu.edu">jahartm3@asu.edu</a></p>
    	<p>Yu Zhang 
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			<a href="mailto:yzhan425@asu.edu">yzhan425@asu.edu</a></p>
    	<p>Joseph Dunn &nbsp; <a href="mailto:joseph.dunn@asu.edu">joseph.dunn@asu.edu</a></p>
  	</ul>

  </div>
</div>
